html,
body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: #1e272e;
}

#app {
    canvas {
        margin: 32px auto;
        display: block;
        background: #b8e994;
        border: 6px solid #b8e994;
        border-radius: 8px;
        overflow: hidden;
    }
}
